<p>
  <%= link_to "New Topic", new_topic_path, :class => "btn btn-primary" %>
</p>

<p>
  <%= link_to "ID ASC", topics_path( :sort => "id") %>
  <%= link_to "ID DESC", topics_path( :sort => "") %>

  <%= link_to "最後更新時間", topics_path( :sort => "updated") %>
</p>

<table class="table">
  <% @topics.each do |p| %>
  <tr>
    <td><%= link_to p.subject, topic_path(p) %></td>
    <td><%= p.user.try(:display_name) %></td>
    <td>
      <% if current_user && ( p.user == current_user ) %>
        <%= link_to "Edit", edit_topic_path(p), :class => "btn btn-default btn-sm" %>
        <%= link_to "Delete", topic_path(p), :data => { :confirm => "r u sure?"}, :class => "btn btn-danger btn-sm", :method => :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @topics %>
