<div id="example">
  <app></app>
</div>

<script>
  new Vue({
   el: '#example'
  })
</script>

<p>
  <%= link_to "New Topic", new_topic_path, :class => "btn btn-primary" %>
</p>

<%= search_form_for @q do |f| %>
  <%= f.label :subject_cont %>
  <%= f.search_field :subject_cont %>
  <%= f.submit "Search" %>
<% end %>

<p>
  <%= sort_link(@q, :id) %>
  <%= sort_link(@q, :updated_at, "最後更新時間") %>
</p>

<table class="table">
  <% @topics.each do |p| %>
  <tr>
    <td><%= link_to p.subject, topic_path(p) %></td>
    <td><%= p.user.try(:display_name) %></td>
    <td><%= p.created_at.to_s(:short) %></td>
    <td>
      <% if current_user && ( p.user == current_user ) %>
        <%= link_to "Edit", edit_topic_path(p), :class => "btn btn-default btn-sm" %>
        <%= link_to "Delete", topic_path(p), :data => { :confirm => "r u sure?"}, :class => "btn btn-danger btn-sm", :method => :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @topics %>
