<h1><%= @topic.subject %></h1>

<% like = @topic.finy_like_by(current_user) %>

<div id="like-area">
  <%= render :partial => "like", :locals => { :like => like } %>
</div>

<% if @topic.image.exists? %>
  <%= link_to @topic.image.url, :target => "_blank" do %>
    <%= image_tag(@topic.image.url(:thumb)) %>
  <% end %>
<% end %>

<%= simple_format @topic.content %>

<%= form_for [@topic, @comment], :remote => true do |f| %>

  <% if @comment.errors.any? %>
     <% @comment.errors.full_messages.each do |m| %>
     <p><%= m %></p>
     <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-warning" %>
  </div>
<% end %>

<h2>Comment list</h2>

<ul id="comments-list">
<% @topic.comments.order("id DESC").each do |c| %>
  <%= render :partial => "comments/comment", :locals => { :c => c } %>
<% end %>
</ul>
