<h1>結帳!</h1>

<%= render "products/cart" %>


<%= form_for @order do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <%= f.submit "確認購買!", :class => "btn btn-primary btm-lg" %>
<% end %>
