<h1>Product List</h1>

<p>
  <%= link_to "結帳!", new_order_path, :class => "btn btn-primary" %>
</p>

<%= render "cart" %>

<% @products.each do |p| %>
<div class="item">

  <%= link_to product_path(p) do %>
    <%= image_tag( Faker::Avatar.image, :width => 36 ) %>
    <%= p.name %>
  <% end %>
  $<%= p.price %>
  <%= button_to "Buy", buy_product_path(p), :class => "btn btn-danger btn-xs", :method => :post %>

</div>
<% end %>
