<!DOCTYPE html>
<html>
<head>
  <title>RailsExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<% if current_user %>
  <%= t(:hi, :name => current_user.display_name ) %>
<% end %>

<%= t("hello_world") %>

<%= t("admin.foo") %>
<%= t("admin", :scope => "foo") %>

  <h1><%= link_to "Home", root_path %></h1>

  <%= link_to "Ubike", ubike_path %>

  <% if current_user %>
     <%= link_to( t(:logout) , destroy_user_session_path, :method => :delete) %> |
     <%= link_to( t(:change_password), edit_registration_path(:user)) %>

     | <%= link_to "修改個人資料", edit_user_path(current_user) %>
  <% else %>
     <%= link_to('註冊', new_registration_path(:user)) %> |
     <%= link_to('登入', new_session_path(:user)) %>

     <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" %>

  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</div>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>

</body>
</html>
